body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.job-listing {
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.job-listing .img-class {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    margin-bottom: 10px;
}